 .app{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
    margin-top: 3%;
    flex-wrap: wrap;
}
.but:hover{
    box-shadow: 10px 10px 10px black;
    background-color:rgb(54, 206, 206);
}
.but{
    box-shadow: rgb(1, 34, 44);
}

.app {
    padding: 20px;
  }
  
  .but {
    margin-bottom: 20px;
  }
  
  h3 {
    color: #333;
  }



   .map-container {
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  .route-search {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .route-search input {
    margin: 5px;
    padding: 5px;
    width: 150px;
  }
  
  .route-search button {
    margin-top: 10px;
  }
  