.food-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
  justify-content: space-between;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; 
  flex-basis: 200px;
  min-height: 300px;
  position: relative;
  perspective: 1000px; 
}

.card:hover {
  transform: translateY(-10px) rotateY(10deg) scale(1.05); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); 
  filter: brightness(1.1); 
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.card p {
  font-size: 1rem;
  color: #555;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:active {
  transform: scale(0.98);
}

button svg {
  margin-right: 5px;
}
