.header {
  background-color: rgb(54, 206, 206);
  padding: 0.1% 1%;
}

.wordsInHeader {
  color: white;
  font-size: 15px;
  text-align: right;
  margin: 0;
}

.headerFlexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
  /* background: linear-gradient(273deg, #f7f8f9, #87cce3); */
    /* color: white; */
}

.img {
  width: 120px; 
}

.search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 2%;
}

.search .form-control {
  width: 50%; 
  border-radius: 20px 0 0 20px;
}

.search .btn {
  border-radius: 0 20px 20px 0;
}

.header_but:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(54, 206, 206);
}

.profile-icon {
  margin-right: 20px; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}


@media (max-width: 768px) {
  .headerFlexBox {
    flex-direction: column;
    align-items: center;
  }

  .search .form-control {
    width: 50%; 
  }

  .wordsInHeader {
    text-align: center;
    margin-bottom: 5px;
  }

  .profile-icon {
    margin-top: 10px;
  }
}